.Tadd{position: fixed;right: -260px;top:100px;z-index:98;}
.Tadd .Tplus{cursor: pointer;width: 50px;height: 50px;background: #0cc285;position: absolute;left: -50px;top: 10px;}
.Tadd .Tplus .Tplus1{transition: all 0.3s linear;width: 50px;height: 50px;line-height: 50px;font-size: 40px;color: #ffffff;text-align: center;}
.Tadd .Tplus .Tplus1:hover{transform: rotate(90deg);}
.Tadd .TplusContent{box-shadow: 0px 0px 8px 0px #999999;background: #ffffff;width: 260px;padding-bottom: 10px;}
.TplusContent h3{line-height: 50px;font-size: 20px;font-weight: normal;text-align: center;margin: 0px;border-bottom: solid 1px #dddddd;margin-bottom: 10px;}
.TplusContent >div{padding: 0px 20px;}
.TplusContent .Tselect .Tupload{cursor: pointer;text-indent: 20px;background: url(../img/upload.png) 40px 0px no-repeat;background-size: contain;height: 36px;border: solid 1px #FFAA00;width: 100%;text-align: center;line-height: 36px;font-size: 16px;color: #FFAA00;}
.TplusContent .Tfile{margin:10px 0px;}
.TplusContent .Tfile div{display: inline-block;vertical-align: top;line-height: 30px;}
.TplusContent .Tfile .Tzip{width: 180px;}
.TplusContent .Tfile .Tclear{color: #FFAA00;cursor: pointer;}
.TplusContent .Ttype div{display: inline-block;vertical-align: top;}
.TplusContent .Ttype .Ttype1{width: 40px;line-height: 30px;margin-right: 10px;height: 30px;}
.TplusContent .Ttype .Ttype2 input{border-radius: 0px;outline: none !important;height: 20px;line-height: 20px;width: 152px;}
.TplusContent .button{border-top: solid 1px #dddddd;}
.TplusContent .button .create{cursor: pointer;width:220px;height: 36px;text-align: center;line-height: 36px;font-size: 16px;color: #ffffff;background: #ff3c00;margin:10px auto 0px auto;}