*{font-family: arial;font-size: 0px;margin: 0px;padding: 0px;}
li{list-style: none;}
li:hover{color: #ff7b22;}
::-webkit-input-placeholder{color: #999999;}
:-ms-input-placeholder{color: #999999;}
:-moz-placeholder{color: #999999;}
::-moz-placeholder{color: #999999;}
#orderSelect{width: 100%;}
div[data="versionText"]{font-size: 18px;color: #999999;text-align: center;width: 100%;border-bottom: solid 1px #dddddd;line-height: 40px;padding-top: 30px;}
#part1{width: 100%;}
#part1 #part1Content{width: 598px;margin: 0px auto;}
#part1 #part1Content #selectVersion{font-size: 0px;margin-top: 20px;}
#part1 #part1Content #selectVersion label{display: inline-block;vertical-align: top;width: 178px;font-size: 18px;font-weight: normal;color: #444444;line-height: 36px;}
#part1 #part1Content #selectVersion a{display: inline-block;vertical-align: top;width: 120px;height: 40px;margin-right: 20px;}
#part1 #part1Content #selectVersion a .version1{font-size: 16px;color: #222222;background: #f5ffff;height: 40px;line-height: 40px;width: 120px;text-align: center;display: inline-block;border-radius: 2px;}
#part1 #part1Content #selectVersion a .version1[data="on"]{background: #2dab4c;color: #ffffff;}
#part1 #part1Content #selectVersion a .versionID{display: none;}
#part1 #part1Content #describe{font-size: 0px;margin-top: 20px;}
#part1 #part1Content #describe label{display: inline-block;vertical-align: top;width: 178px;font-size: 18px;font-weight: normal;color: #444444;line-height: 40px;}
#part1 #part1Content #describe input#productDescribe{border: none;border-bottom: solid 1px #dddddd;color: #444444;font-size:18px;height: 40px;outline: none;width:360px;}
#plsNum,.pointer-title,#versionNumber{font-size: 18px;color: #2DAB4C;font-weight: normal;}
#part2{width: 100%;}
.everyplan{width: 90%;margin: 0 auto;}
.everyplanId{display: none;}
.everyplan .left{width: 5%;display: inline-block;vertical-align: middle;}
.everyplan .left .tick{margin-top: 60px;border: solid 1px #7c7c7c;width: 40px;height:40px;border-radius: 21px;cursor: pointer;background: none;}
.everyplan .left .ticks{background: #ff7b22 url(../img/selico.png) no-repeat;background-size:contain ;border-color: #ff7b22;}
.everyplan .right{width: 95%;display: inline-block;vertical-align: middle;}
.everyplan .right .plantitle{margin-top: 20px;}
.everyplan .right .plantitle h3{color: #222222;margin-bottom: 0px;height: 40px;line-height: 40px;font-weight: normal;font-size: 20px;display: inline-block;vertical-align: top;}
.everyplan .right .plantitle h3:last-child{float: right;color: #ff7b22;}
.everyplan .right .plancontent{border:solid 1px #7c7c7c;width: 100%;padding: 0px;}
.everyplan .right .plancontents{border: solid 3px #ff7b22;}
.everyserver{width: 100%;border-bottom: solid 1px #dddddd;}
.everyserver .servername{display: inline-block;vertical-align: top;font-size: 16px;color: #222222;text-align: center;width: 10%;height:81px;border-right: solid 1px #dddddd;line-height: 81px;}
.everyserver .serverdata{display: inline-block;vertical-align: top;height: 40px;width: 90%;}
.everyserver .serverdata .serverdata1{border-bottom:solid 1px #dddddd;}
.everyserver .serverdata .serverdata1 li{padding-left: 10px;width: 90px;display: inline-block;vertical-align: top;height: 40px;line-height: 40px;font-size: 16px;}
.everyserver .serverdata .serverdata1 li:nth-child(1){width: 90px;}
.everyserver .serverdata .serverdata1 li:nth-child(2){width: 60px;}
.everyserver .serverdata .serverdata1 li:nth-child(3){width: 70px;}
.everyserver .serverdata .serverdata1 li:nth-child(4){width: 50px;}
.everyserver .serverdata .serverdata1 li:nth-child(5){width: 60px;}
.everyserver .serverdata .serverdata1 li:nth-child(6){width: 190px;}
.everyserver .serverdata .serverdata1 li:nth-child(7){width: 100px;}
.everyserver .serverdata .serverdata1 li:nth-child(8){width: 170px;}
.everyserver .serverdata .serverdata1 li:nth-child(even){margin-right:40px;color: #444444;}
.everyserver .serverdata .serverdata1 li:nth-child(odd){color: #999999;}
.everyserver .serverdata .application .application1{width: 170px;text-align: center;line-height: 40px;vertical-align: top;font-size: 16px;color: #444444;display: inline-block;border-right: solid 1px #dddddd;height: 40px;}
.everyserver .serverdata .application ul{display: inline-block;vertical-align: top;}
.everyserver .serverdata .application ul li{line-height: 40px;font-size: 16px;color: #444444;padding-left: 30px;height: 40px;border-bottom: solid 1px #dddddd;}
.everyserver .serverdata .application ul li:last-child{height: 40px;border-bottom: none;}
.summary{}
.summary .summary1{display: inline-block;vertical-align: top;font-size: 16px;color: #222222;text-align: center;width: 10%;height:40px;border-right: solid 1px #dddddd;line-height: 40px;}
.summary ul{display: inline-block;vertical-align: top;}
.summary ul li{padding-left: 10px;display: inline-block;vertical-align: top;line-height: 40px;font-size: 16px;width: 90px;}
.summary ul li:nth-child(1){width: 90px;}
.summary ul li:nth-child(2){width: 60px;}
.summary ul li:nth-child(3){width: 70px;}
.summary ul li:nth-child(4){width: 50px;}
.summary ul li:nth-child(5){width: 60px;}
.summary ul li:nth-child(6){width: 190px;}
.summary ul li:nth-child(7){width: 100px;}
.summary ul li:nth-child(8){width: 170px;}
.summary ul li:nth-child(even){margin-right: 40px;color: #2dab4c;}
.summary ul li:nth-child(odd){color: #999999;}
.submitForm{width: 90%;height: 50px;margin: 0 auto;margin-top: 30px;}
.submitForm1{float: right;}
.submitForm1> div{display: inline-block;vertical-align: middle;}
.submitForm1 #errortext{font-size: 18px;color: #ff3131;line-height: 40px;margin-top: 10px;margin-right: 100px;}
.submitForm1 #totalAmount{font-size: 18px;color: #222222;line-height:40px;margin-right: 20px;margin-top: 10px;}
.submitForm1 #AmountNumber{font-size: 24px;color: #ff3131;line-height:50px;margin-right: 40px;}
.submitForm1 input,#submitForm2{border-radius: 2px;border: none;font-size: 20px;color: #ffffff;background: #ff7b22;line-height: 50px;text-align: center;width:200px;}

#orderSubmit{width: 100%;}
#orderSubmit1{width: 90%;margin: 0 auto;}

#previousStep{
  cursor: pointer;
  width: 20%;
}

.sof-imgwarp,.sof-infwarp{
  display: inline-block;
  vertical-align: bottom;
}

.sof-imgwarp{
  width: 18%;

}

.sof-imgwarp img{
  width: 100%;
  height: 100%;
}

.sof-infwarp{
  width: 80%;
  margin-left: 2%;
}

.sof-infwarp p{
  font-size: 16px;
  line-height: 20px;
}

.sof-infwarp  h3{
  color:#222222;
}

.sof-sales{
  color: #2dab4c;
  font-size: 14px;
}

.price-numer{
  color:#ff7b22;
}

.sof-price,.price-numer{
  font-size:16px;
}

.sof-describe{
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999999;
}

.pro-des-version-title,.pro-des-version-inf,.pro-des-name-title,.pro-des-name-inf,.remarks,.remarks span,.triangle,#previousStep p{
  font-size: 16px;
  display: inline-block;
}

.triangle{margin-right: 18px;}

.remarks{
  width: 100%;
  margin: 20px 0px 15px 0px !important;
}

.pro-des-version-title,.pro-des-name-title{
  width: 12%;
  color:#7c7c7c;
}

.remarks span{
  width: 12%;
  color:#7c7c7c;
}

.left-inf,#submitForm2,.left-inf .stat-inf,.stat-title,.stat-content{
  display: inline-block;
}

.left-inf{
  width: 78%;
  height: 100%;
  border: 2px solid #ff7b22;
  border-radius: 2px;
  /*line-height: 38px;*/
  padding: 0px 10px 0px 20px;
}
#submitForm2{
  width: 18%;
  margin-left: 4%;
  text-decoration: none;
  cursor: pointer;
}

.stat-inf{
    width:32%;
}

.stat-inf:last-child{
  width:36%;
}

.stat-title,.stat-content,.stat-content span{
  font-size: 18px;
  line-height: 47px;
}

.stat-title{
  width: 40%;
  color:#7c7c7c;
}

.stat-content{
  width: 55%;
  margin-left: 5%;
}


.sel-planbox .plantitle h3{
  color: #222222;
  margin-bottom: 0px;
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}

.sel-planbox .plantitle h3:last-child{
  margin-left: 20px;
  color:#ff7b22;
}

.sel-planbox .plancontent{
  border:1px solid #222222;
}

.remarks-describe{
    border: none;
    border-bottom: 1px solid #222222;
    width: 50%;
}
