
*{margin: 0px;padding: 0px;font-size: 0px;list-style: none;font-family: arial;}
li{cursor: pointer;}
input[type="button"]{cursor: pointer;}
input{outline: none;}
input[type="button"]{cursor: pointer;}
input{outline: none;}
@media only screen and (min-width:1024px) {
  #head{height: 70px;width: 100%;background:linear-gradient(180deg,rgba(255,255,255,1),rgba(0,0,0,0.02));}
  #head #head0{margin: 0px auto;width:90%;}
  #head0 div{display: inline-block;vertical-align: top;cursor: pointer;}
  #head0 #logo{height: 70px;width:218px;}
  #head0 #logo img{width:100%;height: 100%;}
  #head0 #head1{float: right;}
  #head0 #head1 #search{height: 30px;margin-top: 25px;}
  #head0 #head1 #search #search0{width:0px;height: 24px;margin-right:10px;border-bottom: solid 1px #afafaf;}
  #head0 #head1 #search #search0 input{width:0px;height: 25px;border: none;background: none;font-size: 18px;outline: none;}
  #head0 #head1 #search #search1{width:25px;height:25px;}
  #head0 #head1 #search #search1 img{width: 100%;height: 100%;}
  #head0 #head1 #allProducts{cursor: pointer;margin-top: 25px;font-size: 20px;padding: 5px 10px 0px 10px;border-right: solid 2px #444444;height: 20px;line-height:20px;}
  #head0 #head1 #logIn{cursor: pointer;margin-top: 25px;font-size: 20px;padding: 5px 10px 0px 10px;height: 20px;line-height:20px;}
  #head0 #head1 #myName{position: relative;margin-top: 25px;}
  #head0 #head1 #myName #myName0{font-size: 20px;line-height:20px;padding: 5px 0px 5px 10px;height: 20px;}
  #head0 #head1 #myName .Hover{width: 100%;display: none;z-index: 99;border-top:solid 3px #ff8431;position: absolute;top: 30px;left: 0px;background:rgba(255,255,255,0.9);padding-top: 10px;padding-bottom: 10px;}
  #head0 #head1 #myName .Hover > div{line-height: 30px;color: #222222;font-size: 16px;display: block;margin-left: 10px;margin-right: 10px;}
  #head0 #head1 #myName .Hover div:hover{color: #ff8431;}
  .part1{width: 90%;margin: 0px auto;}
  .location{width: 100%;height: 40px;margin-top: 10px;}
  .location p{line-height: 40px;font-size: 14px;display: inline-block;color: #7c7c7c;cursor: pointer;margin-left: 10px;}
  .location p:hover{color: #222222;}
  .triangle{width:9px;height: 9px;border-top:solid 1px #444444;border-right: solid 1px #444444;transform: rotate(225deg);display: inline-block;}
  .part2{width: 100%;background: #32383f;}
  .part2 .namestatus{width: 90%;margin: 0px auto;height: 60px;}
  .namestatus div{font-size: 24px;color: #ffffff;line-height: 60px;display: inline-block;vertical-align: bottom;}
  .namestatus .status{float: right;}
  .part3{width: 90%;margin: 0px auto;padding-top: 20px;position: relative;}
  .left{width: 20%;display: inline-block;vertical-align:top;}
  .left img{width: 100%;}
  .right{width:80%;display: inline-block;vertical-align:top;}
  .right ul{width: 100%;}
  .right ul li{display: inline-block;vertical-align: bottom;}
  .part3 .right ul li:nth-child(even){width: 54%;}
  .part3 .right ul li:nth-child(odd){width: 46%;}
  .part3 .right ul li .stringName{color: #afafaf;font-size: 16px;line-height: 36px;margin-left:20px;width: 140px;display: inline-block;vertical-align: bottom;}
  .part3 .right ul li .stringValue{color: #222222;font-size: 16px;line-height: 36px;width: 170px;display: inline-block;vertical-align: bottom;}
  .part3 .right .renew{position: absolute;top:122px;right: 0px;background: #ffffff;}
  .part3 .right .renew input{width:120px;border: solid 1px #FF8431;font-size: 20px;border-radius: 0px;background:none;color: #FF8431;line-height: 36px;}
  .part4{width: 100%;margin-top: 40px;}
  h4{font-size: 20px;color: #afafaf;text-align: center;line-height: 50px;border-bottom: solid 1px #dddddd;font-weight: normal;margin-bottom: 30px;}
  .virtualMachine{width: 90%;margin: 0 auto 30px auto;position: relative;}
  .floatline{position: absolute;width:100%;height: 0px;background: #dddddd;z-index: 99;border-bottom: solid 1px #dddddd;}
  .virtualMachine .right ul li{display: inline-block;vertical-align: bottom;}
  .virtualMachine .right ul li:first-child{margin-left: 2%;width: 28%;}
  .virtualMachine .right ul li:nth-child(2){width: 25%;}
  .virtualMachine .right ul li:last-child{width: 45%;}
  .virtualMachine .right{height: 252px;}
  .virtualMachine .right .machine{margin-left:2%;}
  .virtualMachine .right .machine .Number{background: #FF4040;width: 40px;height: 40px;color: #ffffff;line-break: 40px;text-align: center;margin-right: 20px;font-size: 20px;line-height: 40px;display: inline-block;vertical-align: top;}
  .virtualMachine .right .machine .machineName{color: #222222;font-size: 20px;line-height: 40px;display: inline-block;vertical-align: top;}
  .virtualMachine .right ul li .one{margin: 15px 0px;}
  .virtualMachine .right ul li .icon{width: 32px;height: 32px;border:solid 1px #dddddd;border-radius: 2px;display: inline-block;vertical-align: top;margin-right: 20px;}
  .virtualMachine .right ul li .iconText{width: 150px;height: 34px;font-size: 16px;line-height: 34px;display: inline-block;vertical-align: top;}
  .virtualMachine .right ul li .name1{width:90px;height: 34px;line-height: 34px;display: inline-block;vertical-align: top;font-size: 16px;color: #afafaf;white-space: nowrap;}
  .virtualMachine .right ul li .value1{width: 80px;height: 34px;font-size: 16px;line-height: 34px;display: inline-block;vertical-align: top;white-space:nowrap;}
  .virtualMachine .enter{position: absolute;top: 152px;right: 0px;background: #ffffff;}
    .virtualMachine .enter input{width: 122px;font-size: 20px;border: none;background:#2DAB4C;color: #ffffff;line-height: 38px;}
    .part5{width: 100%;margin-top: 40px;}

    .icon3{background: url(../img/SC-50.png);}
    .icon2{background: url(../img/SC-49.png);}
    .icon1{background: url(../img/SC-48.png);}

    .location a{
      width: 200px;
      height: 30px;
      display: inline-block;
      /* color: #000; */
      font-size: 14px;
      text-decoration: none;
    }
}
