{% extends "base.html" %}
{% load staticfiles %}
{% load crudbuilder %}
{% load render_table from django_tables2 %}

{% block styles %}
{% endblock styles %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Softwares</li>
</ul>
{% endblock %}


{% block content %}
<!--Search-->
<div class="widget widget-table">
  <div class="widget-header">
    <i class="fa fa-search"></i>
    <h3>Search</h3>
  </div>
  <div class="widget-content">
  	<form class="navbar-form navbar-left" role="form" action="." method="GET">
        {% include "crudbuilder/widgets/search_widgets.html" %}
    </form>
        {% if extra_button %}
  </div>
</div>
  <!--Upload-->
  {% if extra_button %}
    <div class="widget widget-table">
      <div class="widget-header">
        <i class="fa fa-upload"></i>
        <h3>Upload Product</h3>
      </div>
      <div class="widget-content">
        <form  id="sofUpLoad" enctype="multipart/form-data"  class="navbar-form navbar-left" role="form" action="{% url 'upload_file' %}" method="post">
            {% csrf_token %}

            {% endif %}
            {% if messages %}
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }} warning-txt" {% endif %} >{{ message }}</p>
            {% endfor %}{% endif %}

            <input type="file"  name="software" id="upLoadSof" style="padding:6px 12px; margin-left:45%" />
            <a href="javascript:;" class="btn-sof" ><input type="submit" /><i class="fa fa-arrow-up"></i>Submit</a>
        </form>
      </div>
    </div>
  {% endif %}
  <!--List-->
  <div class="widget widget-table">
    <div class="widget-header">
          <i class=" fa fa-list"></i>
          <h3>List</h3>
    </div>
    <div class="widget-content">
      {% render_table table_objects "crudbuilder/widgets/tables/tables.html" %}
    </div>
  </div>

{% endblock content %}


{% block scripts %}
{% endblock scripts %}
