{% extends "base.html" %}
{% load staticfiles %}
{% load crudbuilder %}
{% load render_table from django_tables2 %}

{% block styles %}
{% endblock styles %}

{% block breadcrumb %}
<ul class="breadcrumb">
	<li><a href="{% url 'staff/home' %}">Home</a></li>
	<li><a href="/crud/applications/softwares/">Softwares</a></li>
    <li><a href="{% url 'software_detail' id %}">Detail</a></li>
	<li class="active">Verify</li>
</ul>
{% endblock %}

{% block content %}
<div class='container'>
	<h3>Verify {{actual_model_name|title}}</h3>
	<hr/>
	{% include "crudbuilder/widgets/form.html" %}
</div>
{% endblock content %}