{% extends "helpdesk/base.html" %}
{% load i18n bootstrap humanize %}
{% load static from staticfiles %}
{% block helpdesk_title %}{% trans "View Ticket Details" %}{% endblock %}
{% block helpdesk_head %}
<script type='text/javascript' language='javascript'>
$(document).ready(function() {
    $("#ShowFurtherEditOptions").click(function() {
        $("#FurtherEditOptions").fadeIn();
        $("#ShowFurtherOptPara").hide();
        return false;
    });

    processAddFileClick();
    $("#ShowFileUpload").click(function() {
        $("#FileUpload").fadeIn();
        $("#ShowFileUploadPara").hide();
        return false;
    });

    $('#id_preset').change(function() {
        preset = $('#id_preset').val();
        if (preset != '') {
            $.get("{% url 'helpdesk_raw' "preset" %}?id=" + preset, function(data) {
                $("#commentBox").val(data)
            });
        }
    });

    $("[data-toggle=tooltip]").tooltip();
});

function processAddFileClick() {
    /* Until jQuery includes some 'livequery' functionality in the core
        distribution, this will have to do. */
    $(".AddAnotherFile>a").click(function() {
        $(this).parent().remove();
        $("#FileUpload>dl").append("<dt><label>{% trans "Attach another File" %}</label></dt><dd><input type='file' name='attachment' id='file' multiple/> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>");
        processAddFileClick();
        return false;
    });

}
</script>
{% endblock %}

{% block h1_title %}{{ ticket.ticket_for_url }}{% endblock %}

{% block helpdesk_body %}
{% if helpdesk_settings.HELPDESK_TRANSLATE_TICKET_COMMENTS %}
{% comment %}
<div id='translate_dropdown'>{% trans "Translate ticket comments into" %} </div>
<div id='translate_block'>
{% endcomment %}
<div id="google_translate_element"></div>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endif %}

{% include "helpdesk/ticket_desc_table_for_reply.html" %}

{% include "helpdesk/_email_exchanges.html" %}

{% include "helpdesk/_send_email.html" %}

{% endblock %}
