<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>Admin Console</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidberbar-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/adminia.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/clientPage.css' %}" />

    {% block styles %}
    {% endblock styles %}
  </head>

  <body>

    <header>
        {% block header %}
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <ul class="nav navbar-nav navbar-left">
                <li>
                  <a class="navbar-brand" href="http://portal.databasemart.net/"><img src="{% static '/img/SCLogo.png' %}"/ ></a>
                </li>
              <ul/>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a>{% if user.first_name != '' and user.last_name != '' %} {{user.first_name}} {{user.last_name}}{% else %}{{user.email}}{% endif %}<span class="caret"></span></a></li>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'users:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>LOGOUT</a></li>
                </ul>
            </ul>
          </div>
        </nav>
        {% endblock header %}
    </header>

    <div class="content-body">
        <div class="left-siderbar " >
            <ul id="accordion" class="nav nav-stack">
            {% comment %}
              <li>
                <a href="/crud/accounts/users/"><i class="fa fa-user"></i>Accounts</a>
              </li>
              <li>
                <a href="{% url 'helpdesk_home' %}"><i class="fa fa-tags"></i>Ticket</a>
              </li>
              <li>
                  <a href="/crud/applications/softwares/"><i class="fa fa-cube"></i>Softwares</a>
              </li>
              <li>
                <a href="{% url 'orders:list' %}"><i class="fa fa-book"></i>Orders</a>
              </li>
              <li>
                <a href="/crud/orders/packageses/"><i class="fa fa-server"></i>Products</a>
              </li>
            {% endcomment %}
            </ul>
            <hr />
        </div>

        <div class="right-siderbar">
          {% block breadcrumb %}{% endblock %}
          {% block content %}{% endblock content %}
          <hr/>
          <div class="upup"></div>
        </div>

      </div>


  </body>

  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <script>
      $(document).ready(function() {
        var Accordion = function(el, multiple) {
          this.el = el || {};
          this.multiple = multiple || false;

          // Variables privadas
          var links = this.el.find('.link');
          // Evento
          links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
      }

      Accordion.prototype.dropdown = function(e) {
        var $el = e.data.el;
            $this = $(this),
            $next = $this.next();

        $next.slideToggle();
        $this.parent().toggleClass('open');
      }

      var accordion = new Accordion($('#accordion'), false);

    });

</script>

  {% block scripts %}
  {% endblock scripts %}


</html>
