<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client Console</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/adminia.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/clientPage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidberbar-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/public.css' %}" />
    {% block styles %}
    {% endblock styles %}
  </head>

  <body>
    <header>
        {% block header %}
        <div id="head">
					<div id="head0">
						<div id="logo">
							<img src="{% static 'img/SCLogo.png' %}" / >
						</div>
						<div id="head1">
							<div id="all_Products">
								All Products
							</div>
							<div id="myName">
								<div id="myName0">
									{% if user.first_name is not None and user.last_name is not None %} {{user.first_name}} {{user.last_name}}{% else %}{{user.email}}{% endif %}
								</div>
								<div class="Hover">
									<div class="open">
										Open Ticket
									</div>
									<div class="livechat">
										LiveChat
									</div>
									<div class="logout">
										<a href="{% url 'users:logout' %}">Log out</a>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
        {% endblock header %}
    </header>
    {% block leftSiderbar %}
    <div id="topNav">
    	  <div id="topNav1">
        	  	<ul>
        	  	  <li>
                    <a href="/crud/accounts/users/">Clients</a>
                  </li>
                  
                  <li>
                    <a href="{% url 'helpdesk_home' %}">Ticket</a>
                  </li>
                  
                  {% comment %}
                  <li>
                      <a href="/crud/applications/softwares/"><i class="fa fa-cube"></i>Softwares</a>
                  </li>
                  {% endcomment %}
                  <li>
                    <a href="{% url 'orders:list' %}">Orders</a>
                  </li>
                  
                  <li>
                    <a href="/crud/orders/packageses/">Products</a>
                  </li>
                  
        	  	</ul>
    	  </div>
    </div>
    {% endblock leftSiderbar %}

    <div class="content-body">





      {% block rightcontent %}
      <!--right-Content-->
      <div id="loadhtml"  class="right-siderbar">
      {% block content %}

      {% endblock content %}

          <div class="upup"></div>
      </div>
      {% endblock rightcontent %}

    </div>
  </body>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/public.js' %}"></script>
  {% block extra_scripts %}
  {% endblock extra_scripts %}

  {% block scripts %}
  {% endblock scripts %}
</html>
