<!DOCTYPE html>
<html lang="en">
  {% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <title>Admin Console</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/adminia.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/clientPage.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidberbar-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/public.css' %}" />
    {% block styles %}
    {% endblock styles %}
  </head>

  <body>

    <header>
        {% block header %}
        <div id="head">
          <div id="head0">
            <div id="logo">
              <img src="{% static 'img/SCLogo.png' %}" / >
            </div>
            <div id="head1">
              <div id="all_Products">
                All Products
              </div>
              <div id="myName">
                <div id="myName0">
                  {% if user.first_name is not None and user.last_name is not None %} {{user.first_name}} {{user.last_name}}{% else %}{{user.email}}{% endif %}
                </div>
                <div class="Hover">
                  <div class="open">
                    Open Ticket
                  </div>
                  <div class="livechat">
                    LiveChat
                  </div>
                  <div class="logout">
                    <a href="{% url 'clients:logout' %}">Log out</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
        {% endblock header %}
    </header>
    {% block leftSiderbar %}
    <div id="topNav">
        <div id="topNav1">
              <ul>
                  <li>
                      <a href="{% url 'home' %}">Home</a>
                  </li>

                  <li>
                      <a href="/USER/accounts/users/">Accounts</a>
                  </li>
                  {% comment %}
                  <li>
                      <a href="{% url 'helpdesk_home' %}">Ticket</a>
                  </li>
                  <li>
                      <a href="/crud/applications/softwares/">Softwares</a>
                  </li>
                   {% endcomment %}
                  <li>
                      <a href="{% url 'orders:list' %}">Orders</a>
                  </li>
                  <li>
                    <a href="/crud/orders/packageses/">Products</a>
                  </li>

              </ul>
        </div>
    </div>
    {% endblock leftSiderbar %}

    <div class="content-body">
        <div class="right-siderbar">
          {% block breadcrumb %}{% endblock %}
          {% block content %}{% endblock content %}
          <hr/>
          <div class="upup"></div>
        </div>
      </div>


  </body>

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/public.js' %}"></script>
  <!-- <script>
      $(document).ready(function() {
        var Accordion = function(el, multiple) {
          this.el = el || {};
          this.multiple = multiple || false;

          // Variables privadas
          var links = this.el.find('.link');
          // Evento
          links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
      }

      Accordion.prototype.dropdown = function(e) {
        var $el = e.data.el;
            $this = $(this),
            $next = $this.next();

        $next.slideToggle();
        $this.parent().toggleClass('open');
      }

      var accordion = new Accordion($('#accordion'), false);

    });

</script> -->

  {% block scripts %}
  {% endblock scripts %}


</html>
